# 2020-03-26 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
AcceptEnv LANG LC_*
ChallengeResponseAuthentication no
ClientAliveCountMax 3333
ClientAliveInterval 300
LoginGraceTime 120
PermitEmptyPasswords no
PermitRootLogin yes
PrintMotd no
PubkeyAuthentication yes
Subsystem sftp /usr/lib/openssh/sftp-server
TCPKeepAlive yes
UsePAM yes
X11Forwarding yes
